html {
    background-color: var(--white);
}


main {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
    color: var(--black);
    text-align: center;

}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--black);
    text-align: center;
}

.TSG-1er-p, .TSG-informational p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 1rem 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/* Estilos del 1er cluster y 2do cluster  */

.TSG-1er-cluster div, .TSG-2do-cluster div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    padding: 1.5rem;
}

 .TSG-1er-cluster article {
    padding: .5rem;
} 

.TSG-2do-cluster article, .TSG-1er-cluster article {
    flex: 1 1 calc(30% - 1.5rem); /* Ajusta este valor según el tamaño deseado */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px var(--light-grey);
    background-color: var(--white-bold);
    border-radius: 5px;
    overflow: hidden;
    transition: transform .12s ease-in;
}

.TSG-2do-cluster article:hover, .TSG-1er-cluster article:hover {
    transform: scale(1.1);
}

.TSG-1er-cluster article a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.TSG-2do-cluster article a {
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    height: 15rem;
    width: 100%;
    text-decoration: none;
    color: var(--white-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.TSG-1er-cluster article img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.TSG-1er-cluster article h3 {
    margin: 1rem 0 0;
    font-size: 1.2rem;
}

.TSG-1er-cluster p {
    text-align: center;
}

/* Estilo de producto estrella */

.TSG-star-product__container {
    overflow: auto; /* Clear floats */
}

.TSG-star-product__container img {
    float: right;
    width: 45%;
    margin-left: 1.5rem; 
    margin-bottom: 1.5rem; 
}

.TSG-star-product__container p {
    text-align: left;
    margin-right: 1.5rem;
}

.TSG-star-product ul {
    list-style-type: none;
    padding: 1.5rem 0 2rem 1rem;
}

.TSG-star-product__container-a, .TSG-informational__container-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TSG-star-product a {
    text-decoration: none;
    background-color: var(--blue);
    padding: .6rem;
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 7px;
    transition: background-color .1s ease-in;
}


.TSG-star-product a:hover {
    background-color: var(--light-blue);
}


/* Estilos de seccion de informacional */

.TSG-informational article {
    margin: 2rem 0;
}

.TSG-informational h3 {
    text-align: center;
    font-size: 1.5rem;
}

.TSG-informational__container-a a {
    text-decoration: none;
    background-color: var(--blue);
    padding: .6rem;
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 7px;
    transition: background-color .1s ease-in;
    margin: 2rem 0;
}

/* Estilos responsivos */
@media (max-width: 810px) {
    .TSG-1er-cluster article, .TSG-2do-cluster article {
        flex: 1 1 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }

    .TSG-informational p {
        text-align: left;
        width: 100%;
    }

    .TSG-informational h3 {
        text-align: left;
    }
}

@media (max-width: 500px) {
    .TSG-1er-cluster article, .TSG-2do-cluster article {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    main {
        width: 100%;
        padding: 1.5rem;
    }
}